/preprocessing_output/
/test.out/
/test.out2/
test.log
__pycache__/
*.pyc
TestScript.sh
test.log
/preprocessing/__pycache__/
/Results/
.pyc
 humann3_tools/humann3/__pycache__/gene_processing.cpython-312.pyc
 humann3_tools/humann3/__pycache__/pathway_processing.cpython-312.pyc
 humann3_tools/preprocessing/__pycache__/pipeline.cpython-312.pyc
humann3_tools/preprocessing/__pycache__/pipeline.cpython-312.pyc
humann3_tools/humann3/__pycache__/gene_processing.cpython-312.pyc
humann3_tools/humann3/__pycache__/pathway_processing.cpython-312.pyc
humann3_tools/preprocessing/__pycache__/pipeline.cpython-312.pyc
test.log*
humann3_tools/__pycache__/cli.cpython-312.pyc
test.log
humann3_tools/preprocessing/__pycache__/humann3_run.cpython-312.pyc
humann3_tools/preprocessing/__pycache__/pipeline.cpython-312.pyc
humann3_tools/__pycache__/cli.cpython-312.pyc
test.out3/genes/test-/column_selections.txt
test.out3/genes/test-/D19G_genefamilies.tsv
test.out3/genes/test-/D33G_genefamilies.tsv
test.out3/genes/test-/gene_families-cpm_unstratified.tsv
test.out3/genes/test-/test-_genefamilies-cpm_stratified.tsv
test.out3/genes/test-/test-_genefamilies-cpm.tsv
test.out3/genes/test-/Normalized/D19G_genefamilies-cpm.tsv
test.out3/genes/test-/Normalized/D33G_genefamilies-cpm.tsv
test.out3/pathways/test-/column_selections.txt
test.out3/pathways/test-/D19G_pathabundance.tsv
test.out3/pathways/test-/D33G_pathabundance.tsv
test.out3/pathways/test-/pathway_abundance-cpm_unstratified.tsv
test.out3/pathways/test-/test-_pathabundance-cpm_stratified.tsv
test.out3/pathways/test-/test-_pathabundance-cpm.tsv
test.out3/pathways/test-/Normalized/D19G_pathabundance-cpm.tsv
test.out3/pathways/test-/Normalized/D33G_pathabundance-cpm.tsv
humann3_tools/__pycache__/cli.cpython-312.pyc
