test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_bowtie2_aligned.sam
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_bowtie2_aligned.tsv
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_bowtie2_index.1.bt2
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_bowtie2_index.2.bt2
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_bowtie2_index.3.bt2
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_bowtie2_index.4.bt2
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_bowtie2_index.rev.1.bt2
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_bowtie2_index.rev.2.bt2
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_bowtie2_unaligned.fa
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_custom_chocophlan_database.ffn
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_metaphlan_bowtie2.txt
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1_metaphlan_bugs_list.tsv
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/D19G_R1_kneaddata_paired_1.log
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/tmpa9etlfez/bowtie2_stderr_ddd9mb8e
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/tmpa9etlfez/bowtie2_stdout_e8x3efq4
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/tmpa9etlfez/diamond_m8_qx_9sajb
test.out/PreprocessedData/humann3_output/D19G/D19G_R1_kneaddata_paired_1_humann_temp/tmpa9etlfez/temp_alignmentsgpt2z7i0
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_ContaminantIndex_bowtie2_paired_contam_1.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_ContaminantIndex_bowtie2_paired_contam_2.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_ContaminantIndex_bowtie2_unmatched_1_contam.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_ContaminantIndex_bowtie2_unmatched_2_contam.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_hg_39_bowtie2_paired_contam_1.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_hg_39_bowtie2_paired_contam_2.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_hg_39_bowtie2_unmatched_1_contam.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_hg_39_bowtie2_unmatched_2_contam.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_paired_1.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_paired_2.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_unmatched_1.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata_unmatched_2.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata.log
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata.repeats.removed.1.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata.repeats.removed.2.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata.repeats.removed.unmatched.1.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata.repeats.removed.unmatched.2.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata.trimmed.1.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata.trimmed.2.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata.trimmed.single.1.fastq
test.out/PreprocessedData/kneaddata_output/D19G_R1_kneaddata.trimmed.single.2.fastq
