/test.out/
/test.out2/
test.log
__pycache__/
*.pyc
TestScript.sh
test.log
/preprocessing/__pycache__/
.pyc
 humann3_tools/humann3/__pycache__/gene_processing.cpython-312.pyc
 humann3_tools/humann3/__pycache__/pathway_processing.cpython-312.pyc
 humann3_tools/preprocessing/__pycache__/pipeline.cpython-312.pyc
humann3_tools/preprocessing/__pycache__/pipeline.cpython-312.pyc
humann3_tools/humann3/__pycache__/gene_processing.cpython-312.pyc
humann3_tools/humann3/__pycache__/pathway_processing.cpython-312.pyc
humann3_tools/preprocessing/__pycache__/pipeline.cpython-312.pyc
test.log*
humann3_tools/__pycache__/cli.cpython-312.pyc
test.log
